body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.navTop {
  padding: 12px;
}

.canvasImage{
  margin-top: 51vh;
  min-width: 500px;
  max-width: 800px;
}
.title {
  font-size: 30px;
  padding: 0 12px;
  margin: 20px 0;
  text-shadow: 5px 0px 15px #b0b0b0;
}
.rightSignin {
  display: flex;
  text-align: center;
  justify-content: center;
}
.flexListSignin {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.canvas1 {
  align-items: flex-end;
}

.signin {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #106ad1;
  box-shadow: inset 0 0 0 2px #2884ee;
  background-color: transparent;
  height: 48px;
}
.link {
  text-decoration: none;
}
.signin:hover{
  color: #fff;
  background-color: #1a62b4;
}
/* 
.div {
    display: flex;
    flex-direction: column;
    max-width: 1519px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    max-width: 263px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-3 {
    display: flex;
    align-self: stretch;
    position: relative;
    min-width: 20px;
    min-height: 200px;
    max-width: 263px;
  }
  .image-sizer {
    width: 100%;
    padding-top: 18.250950570342205%;
    pointer-events: none;
    font-size: 0;
  }
  .div-4 {
    display: flex;
    flex-direction: column;
    max-width: 593px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .div-5 {
    display: flex;
  }
  @media (max-width: 999px) {
    .div-5 {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(101.6% - 0px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column {
      width: 100%;
    }
  }
  .div-6 {
    max-width: 573px;
    color: rgba(0, 0, 0, 1);
    font-size: 64px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
  }
  .div-7 {
    display: flex;
    flex-direction: column;
    max-width: 593px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .div-8 {
    display: flex;
  }
  @media (max-width: 999px) {
    .div-8 {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .join-the-database-and-explore {
    max-width: 573px;
    color: rgba(53, 53, 53, 1);
    font-size: 36px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
  }
  .div-9 {
    display: flex;
    flex-direction: column;
    max-width: 68px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-10 {
    display: flex;
    flex-direction: row;
    max-width: 48px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 25px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgba(0, 117, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
  }
  .div-11 {
    display: flex;
    align-self: stretch;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 1519px;
  }
  .image-sizer-2 {
    width: 100%;
    padding-top: 47.465437788018434%;
    pointer-events: none;
    font-size: 0;
  } */